<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', path='./static/index.css') }}" rel="stylesheet">   


</head>
<body>
    <div class = "header">
        <div class="container">
            <div class="menu">
                <div class="logo">
                    <img src="{{ url_for('static', path='./static/logo.png') }}" alt="Logo"></li>
                </div>
                    <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="https://www.youtube.com/">youtube</a></li>
                    </ul>
            </div>
            <div class="reg-block">
                {% if user %}
                <div class="logged-in">
                    <p><a href="/logout">Logout</a></p>
                </div>
                {% else %}
                <div class="not-logged-in">
                    <p><a href="/login">Login</a></p>
                    <p><a href="/register">Register</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>