<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', path='./static/registrate.css') }}" rel="stylesheet">   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">
        <div class="title">Registration Form</div>
        <hr>
        <div class="content">
          <form method="post" id="form" action="/register">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" id="full_name" name="full_name">
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" name="confirm_password" placeholder="Confirm your password" required>
                </div>
            </div>
            <div class="button-container">
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </div>
          </form>
        </div>
    </div>
</body>
</html>